h1{
    background-color: yellowgreen;
    margin: 2px;
    padding: 5px;
}
Body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
}
.titlebar{
    color: white;
    text-align: center;
}
.container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    width: 200px;
    color: black;
    margin: 30px;
}